<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>单例设计模式完整.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>039F9EFA1CB90AFC00ABD15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>039F9F131CB90AFD00ABD15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>039F9F1E1CB90AFD00ABD15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
