<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04-播放视频(MPMoviePlayerViewController).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70FF9F141C254AE400E62C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70FF9F2D1C254AE400E62C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70FF9F381C254AE400E62C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
