<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSURLSessionDownloadURL</key>
	<string>http://120.25.226.186:32812/resources/videos/minion_02.mp4</string>
	<key>NSURLSessionResumeBytesReceived</key>
	<integer>3975185</integer>
	<key>NSURLSessionResumeCurrentRequest</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGeXpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QGwcIKUVLTFJTVFU4VjpXWGhpamtsbW5vcHFydVUkbnVsbN8QHgkKCwwNDg8Q
	ERITFBUWFxgZGhscHR4fICEiIyQlJicoKSorLC0oLzAxKzMrKioqOCc6Oyo9Kj8qO0I4
	Q1MkMTJSJDNfEB5yZXF1aXJlc1Nob3J0Q29ubmVjdGlvblRpbWVvdXRTJDI1UyQxN1Ik
	NFMkMjFTJDEzViRjbGFzc1IkNVMkMThSJDZTJDIyUyQxNFIkN1MkMTlTJDEwXxAacGF5
	bG9hZFRyYW5zbWlzc2lvblRpbWVvdXRSJDhSJDBTJDE1UyQyM1IkOVMkMTFSJDFTJDI0
	UyQxNlIkMl8QEHN0YXJ0VGltZW91dFRpbWVTJDIwgAiAAgiAAIAHgAOADYACgBqABoAL
	gAeADoAHgACAAIAAIwAAAAAAAAAAgAgQAoAKgACACYAAEAmAAIAKEBaADAjTRhFHKklK
	V05TLmJhc2VbTlMucmVsYXRpdmWAAIAFgARfEDpodHRwOi8vMTIwLjI1LjIyNi4xODY6
	MzI4MTIvcmVzb3VyY2VzL3ZpZGVvcy9taW5pb25fMDIubXA00k1OT1BaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1VOU1VSTKJPUVhOU09iamVjdCNATgAAAAAAABAACREBBBP/////////
	/1NHRVTTWVoRW2FnV05TLmtleXNaTlMub2JqZWN0c6VcXV5fYIAPgBCAEYASgBOlYmNk
	ZWaAFIAVgBaAF4AYgBlVUmFuZ2VWQWNjZXB0XxAPQWNjZXB0LUxhbmd1YWdlWElmLVJh
	bmdlXxAPQWNjZXB0LUVuY29kaW5nXWJ5dGVzPTY2MDU4NS1TKi8qVXpoLWNuXxAZVy8i
	OTM4NTI0Mi0xNDA5NDU2MDkyMDAwIl1nemlwLCBkZWZsYXRl0k1Oc3RcTlNEaWN0aW9u
	YXJ5onNR0k1OdndcTlNVUkxSZXF1ZXN0onhRXE5TVVJMUmVxdWVzdF8QD05TS2V5ZWRB
	cmNoaXZlctF7fFRyb290gAEACAARABoAIwAtADIANwBVAFsAmgCeAKEAwgDGAMoAzQDR
	ANUA3ADfAOMA5gDqAO4A8QD1APkBFgEZARwBIAEkAScBKwEuATIBNgE5AUwBUAFSAVQB
	VQFXAVkBWwFdAV8BYQFjAWUBZwFpAWsBbQFvAXEBegF8AX4BgAGCAYQBhgGIAYoBjAGO
	AZABkQGYAaABrAGuAbABsgHvAfQB/wIIAg4CEQIaAiMCJQImAikCMgI2Aj0CRQJQAlYC
	WAJaAlwCXgJgAmYCaAJqAmwCbgJwAnICeAJ/ApECmgKsAroCvgLEAuAC7gLzAwADAwMI
	AxUDGAMlAzcDOgM/AAAAAAAAAgEAAAAAAAAAfQAAAAAAAAAAAAAAAAAAA0E=
	</data>
	<key>NSURLSessionResumeEntityTag</key>
	<string>W/"9385242-1409456092000"</string>
	<key>NSURLSessionResumeInfoTempFileName</key>
	<string>CFNetworkDownload_UqXN0G.tmp</string>
	<key>NSURLSessionResumeInfoVersion</key>
	<integer>2</integer>
	<key>NSURLSessionResumeOriginalRequest</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGUFFYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK0HCDg5P0BGR0gjL0pLVSRudWxs3xAYCQoLDA0ODxAREhMUFRYXGBkaGxwdHh8g
	ISEjJCUmJygpJCQsLCwvITEyMyw1MjcvUyQxMlIkM18QHnJlcXVpcmVzU2hvcnRDb25u
	ZWN0aW9uVGltZW91dFMkMTdSJDRTJDEzViRjbGFzc1IkNVMkMThSJDZTJDE0UiQ3UyQx
	OVMkMTBfEBpwYXlsb2FkVHJhbnNtaXNzaW9uVGltZW91dFIkOFIkMFMkMTVSJDlTJDEx
	UiQxUyQxNlIkMl8QEHN0YXJ0VGltZW91dFRpbWWAAoACCIAHgAOACYAMgAaAC4AHgAeA
	AIAAgAAjAAAAAAAAAACAAhACgAqACIAAEAmAChAQCdM6DzssPT5XTlMuYmFzZVtOUy5y
	ZWxhdGl2ZYAAgAWABF8QOmh0dHA6Ly8xMjAuMjUuMjI2LjE4NjozMjgxMi9yZXNvdXJj
	ZXMvdmlkZW9zL21pbmlvbl8wMi5tcDTSQUJDRFokY2xhc3NuYW1lWCRjbGFzc2VzVU5T
	VVJMokNFWE5TT2JqZWN0I0BOAAAAAAAAEAARAQQIE///////////0kFCTE1fEBNOU011
	dGFibGVVUkxSZXF1ZXN0o05PRV8QE05TTXV0YWJsZVVSTFJlcXVlc3RcTlNVUkxSZXF1
	ZXN0XxAPTlNLZXllZEFyY2hpdmVy0VJTVHJvb3SAAQAIABEAGgAjAC0AMgA3AEUASwB+
	AIIAhQCmAKoArQCxALgAuwC/AMIAxgDJAM0A0QDuAPEA9AD4APsA/wECAQYBCQEcAR4B
	IAEhASMBJQEnASkBKwEtAS8BMQEzATUBNwFAAUIBRAFGAUgBSgFMAU4BUAFRAVgBYAFs
	AW4BcAFyAa8BtAG/AcgBzgHRAdoB4wHlAegB6QHyAfcCDQIRAicCNAJGAkkCTgAAAAAA
	AAIBAAAAAAAAAFQAAAAAAAAAAAAAAAAAAAJQ
	</data>
	<key>NSURLSessionResumeServerDownloadDate</key>
	<string>Sun, 31 Aug 2014 03:34:52 GMT</string>
</dict>
</plist>
