<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>05-播放远程视频(AVPlayerViewController).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70FF9F531C254C8000E62C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70FF9F6C1C254C8000E62C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70FF9F771C254C8000E62C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
