<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advertlist</key>
	<array>
		<dict>
			<key>advert_activity</key>
			<string></string>
			<key>advert_url</key>
			<string>http://weibo.com/3946714889/EDFZrFXh4?from=page_1006063946714889_profile&amp;wvr=6&amp;mod=weibotime&amp;type=comment</string>
			<key>id</key>
			<integer>285</integer>
			<key>name</key>
			<string>新功能CN</string>
			<key>pic_url</key>
			<string>https://autodiscover.videoshowapp.com:8094/homeTopAdvert/285/advertPic/1727166446481576picUrl.png</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>advert_activity</key>
			<string></string>
			<key>advert_url</key>
			<string>http://weibo.com/3946714889/En8H8etNn?from=page_1006063946714889_profile&amp;wvr=6&amp;mod=weibotime&amp;type=comment</string>
			<key>id</key>
			<integer>357</integer>
			<key>name</key>
			<string>iMessage2</string>
			<key>pic_url</key>
			<string>https://autodiscover.videoshowapp.com:8094/homeTopAdvert/357/advertPic/37489777563134993picUrl.png</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>advert_activity</key>
			<string></string>
			<key>advert_url</key>
			<string>http://weibo.com/3946714889/Ek7GtAsRp?from=page_1006063946714889_profile&amp;wvr=6&amp;mod=weibotime</string>
			<key>id</key>
			<integer>343</integer>
			<key>name</key>
			<string>ios倒放</string>
			<key>pic_url</key>
			<string>https://autodiscover.videoshowapp.com:8094/homeTopAdvert/343/advertPic/36000465110838126picUrl.png</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>advert_activity</key>
			<string></string>
			<key>advert_url</key>
			<string>http://weibo.com/videoshowapp</string>
			<key>id</key>
			<integer>216</integer>
			<key>name</key>
			<string>微博链接</string>
			<key>pic_url</key>
			<string>https://autodiscover.videoshowapp.com:8094/homeTopAdvert/216/advertPic/21854085805458315picUrl.png</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>advert_activity</key>
			<string></string>
			<key>advert_url</key>
			<string>SoundtrackViewController</string>
			<key>id</key>
			<integer>231</integer>
			<key>name</key>
			<string>引导升级专业版</string>
			<key>pic_url</key>
			<string>https://autodiscover.videoshowapp.com:8094/homeTopAdvert/231/advertPic/23320032635514497picUrl.png</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>err_info</key>
	<string>success</string>
	<key>ret</key>
	<integer>1</integer>
	<key>totalPageNum</key>
	<integer>2</integer>
</dict>
</plist>
