<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSURLSessionDownloadURL</key>
	<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	<key>NSURLSessionResumeBytesReceived</key>
	<integer>1643632</integer>
	<key>NSURLSessionResumeCurrentRequest</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGcXJYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QFwcIKUVLTFJTVFU4VjpXWGRlZmdoaWptVSRudWxs3xAeCQoLDA0ODxAREhMU
	FRYXGBkaGxwdHh8gISIjJCUmJygpKissLSgvMDErMysqKio4Jzo7Kj0qPyo7QjhDUyQx
	MlIkM18QHnJlcXVpcmVzU2hvcnRDb25uZWN0aW9uVGltZW91dFMkMjVTJDE3UiQ0UyQy
	MVMkMTNWJGNsYXNzUiQ1UyQxOFIkNlMkMjJTJDE0UiQ3UyQxOVMkMTBfEBpwYXlsb2Fk
	VHJhbnNtaXNzaW9uVGltZW91dFIkOFIkMFMkMTVTJDIzUiQ5UyQxMVIkMVMkMjRTJDE2
	UiQyXxAQc3RhcnRUaW1lb3V0VGltZVMkMjCACIACCIAAgAeAA4ANgAKAFoAGgAuAB4AO
	gAeAAIAAgAAjAAAAAAAAAACACBACgAqAAIAJgAAQCYAAgAoQFoAMCNNGEUcqSUpXTlMu
	YmFzZVtOUy5yZWxhdGl2ZYAAgAWABF8QOmh0dHA6Ly8xMjAuMjUuMjI2LjE4NjozMjgx
	Mi9yZXNvdXJjZXMvdmlkZW9zL21pbmlvbl8wMS5tcDTSTU5PUFokY2xhc3NuYW1lWCRj
	bGFzc2VzVU5TVVJMok9RWE5TT2JqZWN0I0BOAAAAAAAAEAAJEQEEE///////////U0dF
	VNNZWhFbX2NXTlMua2V5c1pOUy5vYmplY3Rzo1xdXoAPgBCAEaNgYWKAEoATgBSAFV8Q
	D0FjY2VwdC1FbmNvZGluZ1ZBY2NlcHRfEA9BY2NlcHQtTGFuZ3VhZ2VdZ3ppcCwgZGVm
	bGF0ZVMqLypVemgtY27STU5rbFxOU0RpY3Rpb25hcnmia1HSTU5ub1xOU1VSTFJlcXVl
	c3SicFFcTlNVUkxSZXF1ZXN0XxAPTlNLZXllZEFyY2hpdmVy0XN0VHJvb3SAAQAIABEA
	GgAjAC0AMgA3AFEAVwCWAJoAnQC+AMIAxgDJAM0A0QDYANsA3wDiAOYA6gDtAPEA9QES
	ARUBGAEcASABIwEnASoBLgEyATUBSAFMAU4BUAFRAVMBVQFXAVkBWwFdAV8BYQFjAWUB
	ZwFpAWsBbQF2AXgBegF8AX4BgAGCAYQBhgGIAYoBjAGNAZQBnAGoAaoBrAGuAesB8AH7
	AgQCCgINAhYCHwIhAiICJQIuAjICOQJBAkwCUAJSAlQCVgJaAlwCXgJgAmICdAJ7Ao0C
	mwKfAqUCqgK3AroCvwLMAs8C3ALuAvEC9gAAAAAAAAIBAAAAAAAAAHUAAAAAAAAAAAAA
	AAAAAAL4
	</data>
	<key>NSURLSessionResumeEntityTag</key>
	<string>W/"9071810-1409456092000"</string>
	<key>NSURLSessionResumeInfoTempFileName</key>
	<string>CFNetworkDownload_nJK2Ob.tmp</string>
	<key>NSURLSessionResumeInfoVersion</key>
	<integer>2</integer>
	<key>NSURLSessionResumeOriginalRequest</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGUFFYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK0HCDg5P0BGR0gjL0pLVSRudWxs3xAYCQoLDA0ODxAREhMUFRYXGBkaGxwdHh8g
	ISEjJCUmJygpJCQsLCwvITEyMyw1MjcvUyQxMlIkM18QHnJlcXVpcmVzU2hvcnRDb25u
	ZWN0aW9uVGltZW91dFMkMTdSJDRTJDEzViRjbGFzc1IkNVMkMThSJDZTJDE0UiQ3UyQx
	OVMkMTBfEBpwYXlsb2FkVHJhbnNtaXNzaW9uVGltZW91dFIkOFIkMFMkMTVSJDlTJDEx
	UiQxUyQxNlIkMl8QEHN0YXJ0VGltZW91dFRpbWWAAoACCIAHgAOACYAMgAaAC4AHgAeA
	AIAAgAAjAAAAAAAAAACAAhACgAqACIAAEAmAChAQCdM6DzssPT5XTlMuYmFzZVtOUy5y
	ZWxhdGl2ZYAAgAWABF8QOmh0dHA6Ly8xMjAuMjUuMjI2LjE4NjozMjgxMi9yZXNvdXJj
	ZXMvdmlkZW9zL21pbmlvbl8wMS5tcDTSQUJDRFokY2xhc3NuYW1lWCRjbGFzc2VzVU5T
	VVJMokNFWE5TT2JqZWN0I0BOAAAAAAAAEAARAQQIE///////////0kFCTE1fEBNOU011
	dGFibGVVUkxSZXF1ZXN0o05PRV8QE05TTXV0YWJsZVVSTFJlcXVlc3RcTlNVUkxSZXF1
	ZXN0XxAPTlNLZXllZEFyY2hpdmVy0VJTVHJvb3SAAQAIABEAGgAjAC0AMgA3AEUASwB+
	AIIAhQCmAKoArQCxALgAuwC/AMIAxgDJAM0A0QDuAPEA9AD4APsA/wECAQYBCQEcAR4B
	IAEhASMBJQEnASkBKwEtAS8BMQEzATUBNwFAAUIBRAFGAUgBSgFMAU4BUAFRAVgBYAFs
	AW4BcAFyAa8BtAG/AcgBzgHRAdoB4wHlAegB6QHyAfcCDQIRAicCNAJGAkkCTgAAAAAA
	AAIBAAAAAAAAAFQAAAAAAAAAAAAAAAAAAAJQ
	</data>
	<key>NSURLSessionResumeServerDownloadDate</key>
	<string>Sun, 31 Aug 2014 03:34:52 GMT</string>
</dict>
</plist>
