<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebView交互.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BB35CA51CBE2C0800E0E80F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB35CBE1CBE2C0900E0E80F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB35CC91CBE2C0900E0E80F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
