<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCD进程间通行.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>039F9EBB1CB8DC7900ABD15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>039F9ED41CB8DC7900ABD15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>039F9EDF1CB8DC7900ABD15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
