<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>微博启动动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03082F711CA816A500D8A103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03082F8A1CA816A500D8A103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03082F951CA816A500D8A103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
