<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Runtime实例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BC87E0B1CCF695F0080CD24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BC87E241CCF69600080CD24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BC87E2F1CCF69600080CD24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
