<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CSLeftSlideDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0314541D1C6DB02200D95CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>031454361C6DB02300D95CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>031454411C6DB02300D95CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
