<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReactiveCocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7013E6F81BDCB1BD004FCFEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7013E7111BDCB1BD004FCFEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7013E71C1BDCB1BD004FCFEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
