<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28917B761BEE78E7003A9961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28917B8F1BEE78E8003A9961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28917B9A1BEE78E8003A9961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
